<%- include('partials/header'); %>
<div class="form">
    <h1><%- title %></h1>
    <<div id="infoMessage">
        <% if(error[0]){ if(error[0].thenError){ %>
            <span class="help-block"><%- error[0].thenError %></span>
        <% }} %>
    </div>
    <form class="form-horizontal" role="form" method="POST" action="/auth/forgot-password">
        <div class="form-group <% if(error[0]){ if(error[0].email){ %>has-error<% }} %>">
            <label for="email">E-Mail Address</label>
            <input id="email" type="email" class="form-control" name="email" placeholder="vijendra3582@gmail.com" value="<%= oldInput.value('email') %>" required>
             <% if(error[0]){ if(error[0].email){ %>
                <span class="help-block"><%- error[0].email.message %></span>
            <% }} %>
        </div>
        <div class="form-group">
            <input type="submit" name="submit" value="Submit" />
        </div>
        <div class="form-group"> <a href="/auth/login"> Got your password ? </a> </div>
    </form>
</div>
<%- include('partials/footer'); %>
