<%- include('partials/header'); %>
<div class="form">
    <h1><%- title %></h1>
    <div id="infoMessage">
        <% if(error[0]){ if(error[0].thenError){ %>
            <span class="help-block"><%- error[0].thenError %></span>
        <% }} %>
    </div>
    <form class="form-horizontal" role="form" method="POST" action="/auth/reset-password">
        <div class="form-group <% if(error[0]){ if(error[0].email){ %>has-error<% }} %>">
            <label for="email">E-Mail Address</label>
            <input id="email" type="email" class="form-control" name="email" placeholder="vijendra3582@gmail.com" value="<%= oldInput.value('email') %>" required>
             <% if(error[0]){ if(error[0].email){ %>
                <span class="help-block"><%- error[0].email.message %></span>
            <% }} %>
        </div>
        <div class="form-group">
            <label for="password <% if(error[0]){ if(error[0].password){ %>has-error<% }} %>">Password</label>
            <input id="password" type="password" class="form-control" name="password" placeholder="********" required>
             <% if(error[0]){ if(error[0].password){ %>
                <span class="help-block"><%- error[0].password.message %></span>
            <% }} %>
        </div>
        <div class="form-group <% if(error[0]){ if(error[0].confirm_password){ %>has-error<% }} %>">
            <label for="password-confirm">Confirm Password</label>
            <input id="password-confirm" type="password" class="form-control" name="confirm_password" placeholder="********" required>
             <% if(error[0]){ if(error[0].confirm_password){ %>
                <span class="help-block"><%- error[0].confirm_password.message %></span>
            <% }} %>
        </div>
        <div class="form-group"> <a href="/auth/login"> Wanna login to your account ? </a> </div>
    </form>
</div>
<%- include('partials/footer'); %>
